
<h1>Welcome To Blocipedia</h1>
<div>
    <% if user_signed_in? && current_user.role == 'standard'%>
    <%= link_to 'Upgrade To Premium', new_charge_path %>
    <%elsif user_signed_in? && current_user.role == 'premium' %>
    <%= link_to 'Downgrade To Standard', welcome_downgrade_path, method: :post %>
    <% end %>
</div>

