// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
    text-align: center;
    
}

.new-wiki-btn {
    
    margin-left: 15px;
    margin-bottom: 15px;
}
h1 {
    
    text-align: center;
}

.new-wiki-container{
    
    margin: 20px;
}

.wiki-show-container {
    
    margin: 25px;
    
}